<div class="container">
  <section class="container padding-top-3x" style="margin: 0 auto;">
    <div class="col-xs-12 text-center form-group light-blue">
      <h1>Lamentamos que hayas tenido inconvenientes.</h1>
      <p class="text-sm text-gray">Por favor contanos en detalle el problema
        y en breve nos pondremos en contacto con vos para resolverlo.</p>
      <div class="form-element">
        <textarea class="form-control" rows="10"></textarea>
      </div>
      <div class="col-xs-12 to-right">
        <button routerLink="/" class="btn btn-default">Volver</button>
        <button routerLink="/success" class="btn btn-danger">Reportar</button>
      </div>
    </div>
  </section>
</div>
