<!-- Container -->
<section class="container padding-top-1x padding-bottom">
  <span class="row text-center">
    <h1 class="user-icon">
      <i class="material-icons face"></i>
    </h1>
    <h1>Password reset</h1>
    <h3 class="text-sm text-gray">
      Enter and confirm your <strong>new password</strong>.
    </h3>
    <div class="card col-md-6 mt-3 mx-auto" style="float: none; margin:auto;">
      <div class="card-body">
        <form (ngSubmit)="submitRecovery()" [formGroup]="recoveryEmailForm" novalidate>
          <div class="form-group">
            <label class="d-block">
              <input type="text" class="form-control" formControlName="password"
                     [placeholder]="'Nueva contraseña' | translate"/>
              <span hidden translate>Nueva contraseña</span>
            </label>
            <label class="d-block">
              <input type="text" class="form-control" formControlName="confirm"
                     [placeholder]="'Confirmar contraseña' | translate"/>
              <span hidden translate>Confirmar contraseña</span>
              <small [hidden]="recoveryEmailForm.controls.confirm.valid || recoveryEmailForm.controls.confirm.untouched"
                     class="text-danger" translate>
                Las contraseñas deben coincidir
              </small>
            </label>
          </div>
          <button
            class="btn btn-primary w-100"
            type="submit"
            [disabled]="recoveryEmailForm.invalid || isLoading"
            style="display: block; margin: auto;">
              <i class="fa fa-cog fa-spin logo-loading" [hidden]="!isLoading"></i>
              <span translate>Recuperar Contraseña</span>
          </button>
        </form>
      </div>
    </div>
  </span>
</section><!-- .container -->
