@import '../../../theme/theme-variables.scss';

.breadcrumb li a.selected-0 {
    background:$blue;
}
.breadcrumb li a.selected-0:after {
    border-left-color:$blue;
}

.breadcrumb li a.normal-1 {
    background: $blue-medium;
}

.breadcrumb li a.normal-1:after {
    border-left-color: $blue-medium;
}
