<!-- Container -->
<section class="container padding-top-1x padding-bottom">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="info-box text-center">
      <h2 *ngIf="prices && prices.length !== 0 && prices[0].includes.length !== 0">
        {{ prices[0].includes[2] }}
      </h2>
      <a href="shop-single.html" class="inline">
        <img src="sharedService.getImage(pattern.png)" alt="Special Offer">
      </a>
      <h3 class="lead text-normal space-bottom-half">
        <a href="shop-single.html" class="link-title" *ngIf="prices && prices.length !== 0 && prices[0].includes.length !== 0">
          {{ prices[0].includes[3] }}
        </a>
      </h3>
    </div><!-- .info-box -->
    <div class="padding-bottom-2x visible-xs"></div>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="info-box text-center info-premium">
      <h2 *ngIf="prices && prices.length !== 0 && prices[7].includes.length !== 0">
        {{ prices[7].includes[0] }}
        <br><span class="text-danger">-{{ prices[7].discount }}%</span>
      </h2>
      <a href="shop-single.html" class="inline">
        <img *ngIf="false" src="sharedService.getImage(pattern.png)" alt="Special Offer">
        <span class="row">
          <i class="material-icons lock lock-icon to-click text-success"></i>
        </span>
      </a>
      <h3 class="lead text-normal space-bottom-half">
        <a href="shop-single.html" class="link-title" *ngIf="prices && prices.length !== 0 && prices[7].includes.length !== 0">
         {{ prices[7].includes[5] }} 
        </a>
      </h3>
      <h3 class="lead text-normal space-bottom-half">
        <a href="shop-single.html" class="link-title" *ngIf="prices && prices.length !== 0 && prices[7].includes.length !== 0">
           {{ prices[7].includes[8] }} 
        </a>
      </h3>
      <h3 class="lead text-normal space-bottom-half">
        <a href="shop-single.html" class="link-title" *ngIf="prices && prices.length !== 0 && prices[7].includes.length !== 0">
          {{ prices[7].includes[6] }} 
        </a>
      </h3>
      <h3 class="lead text-normal space-bottom-half">
        <a href="shop-single.html" class="link-title" *ngIf="prices && prices.length !== 0 && prices[7].includes.length !== 0">
          {{ prices[7].includes[7] }} 
        </a>
      </h3>
      <hr>
      <span
        class="lead text-normal text-gray text-crossed"
        *ngIf="prices && prices.length !== 0"
      >
        {{ prices[7].value | currency }}
      </span>
      <span class="h3 text-normal text-danger" *ngIf="prices && prices.length !== 0">
        {{ prices[7].value - prices[7].value * prices[7].discount / 100 | currency }}
      </span> p/mes.
      <hr>
      <button
        class="btn btn-primary"
        (click)="checkout('premium')"
      >
        Comprar
      </button>
    </div><!-- .info-box -->
    <div class="padding-bottom-2x visible-xs"></div>
  </div>

  <!-- Family -->
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="info-box text-center info-family">
      <h2 *ngIf="prices && prices.length !== 0 && prices[1].includes.length !== 0">
        {{ prices[1].includes[0] }}<br><span class="text-danger">-{{ prices[1].discount }}%</span></h2>
      <a href="shop-single.html" class="inline price-icons">
        
        <img *ngIf="false" src="sharedService.getImage(pattern.png)" alt="Special Offer">
        <span class="row">
          <i class="material-icons change_history new-icons price-icons"></i>
        </span>
      </a>
      <h3 class="lead text-normal space-bottom-half" *ngIf="prices && prices.length !== 0 && prices[1].includes.length !== 0">
        <a href="shop-single.html" class="link-title">
          {{ prices[1].includes[2] }}
        </a>
      </h3>
      <hr>
      <span
        class="lead text-normal text-gray text-crossed"
        *ngIf="prices && prices.length !== 0"
      >
        {{ prices[1].value | currency }}
      </span>
      <span
        class="h3 text-normal text-danger"
        *ngIf="prices && prices.length !== 0"
      >
        {{ (prices[1].value - prices[1].value * prices[1].discount / 100) | currency }}
      </span> p/mes.
      <hr>
      <button
        class="btn btn-primary"
        (click)="checkout('business')"
      >
        Comprar
      </button>
    </div><!-- .info-box -->
    <div class="padding-bottom-2x visible-xs"></div>
  </div>
</section><!-- .container -->
