<div class="preloader" *ngIf="isLoading">
  <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
</div>
  <!-- Page Wrapper -->
  <div class="page-wrapper" *ngIf="!isLoading">
    <!-- Container -->
    <form
      method="post"
      class="container padding-top-1x padding-bottom-2x"
    >
      <h1 class="space-top-half">
        Checkout
      </h1>
      <p
        *ngIf="!isLoading && formError"
        class="text-danger space-top-half"
      >
        Por favor, completá y revisa los campos del formulario.
      </p>
      <div class="row padding-top">
        <!-- Checkout Form -->
        <div class="col-sm-8 padding-bottom">
          <div class="row">
            <div class="col-sm-12">
              <!-- Payment information -->
              <h3 translate>
                checkout.title
              </h3>
              <hr>
            </div>
            <div class="col-sm-12">
              <!-- Payment method -->
              <label for="paymentMethod" translate>
                checkout.choose
              </label>
              <div class="form-element form-select">
                <select
                  tabindex="1"
                  name="paymentMethod"
                  id="paymentMethod"
                  class="form-control"
                  (change)="onChange($event.target.value)"
                >
                  <option
                    value="invowAccount"
                    [attr.selected]="invowAccount"
                  >
                    Invow account
                  </option>
                  <option
                    value="mercadoPago"
                    [attr.selected]="!invowAccount"
                  >
                    Mercado Pago
                  </option>
                </select>
              </div>
            </div>
          </div>
          <ng-container *ngIf="invowAccount">
            <div class="row">
              <div class="col-sm-12" class="text-center">
                <p
                  *ngIf="fundArs || fundUsd"
                  class="text-sm text-gray"
                >
                  * Note: This amount includes costs for shipping to address you provided.
                </p>
                <p
                  *ngIf="!fundArs && !fundUsd"
                  class="text-danger"
                >
                  No tienes fondos suficientes en tu cuenta.
                </p>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!invowAccount">
            <div class="row">
              <div class="col-sm-6">
                <!-- Email -->
                <label for="email" translate>
                  checkout.mp
                </label>
                <input
                  tabindex="2"
                  [(ngModel)]="payment.email"
                  name="email"
                  type="email"
                  id="email"
                  data-checkout="email"
                  class="form-control"
                  placeholder="Email"
                >
              </div>
              <div class="col-sm-2">
                <!-- ID -->
                <label for="docType" translate>
                  checkout.id
                </label>
                <div class="form-element form-select">
                  <select
                    tabindex="3"
                    [(ngModel)]="payment.docType"
                    name="docType"
                    id="docType"
                    class="form-control"
                  >
                    <option
                      *ngFor="let dt of docTypes"
                      value="{{dt.id}}"
                    >
                      {{dt.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- ID number -->
                <label for="docNumber" translate>
                  checkout.id.number
                </label>
                <input
                  tabindex="4"
                  [(ngModel)]="payment.docNumber"
                  name="docNumber"
                  type="number"
                  id="docNumber"
                  data-checkout="docNumber"
                  class="form-control"
                >
              </div>
            </div><!-- .row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- Card number -->
                <label for="cardNumber" translate>
                  checkout.card.number
                </label>
                <input
                  tabindex="5"
                  [(ngModel)]="payment.cardNumber"
                  name="cardNumber"
                  type="number"
                  id="cardNumber"
                  data-checkout="cardNumber"
                  placeholder="XXXX XXXX XXXX XXXX"
                  class="form-control"
                >
              </div>
              <div class="col-sm-2">
                <!-- Security code -->
                <label for="securityCode" translate>
                  checkout.card.code
                </label>
                <input
                  tabindex="6"
                  [(ngModel)]="payment.securityCode"
                  name="securityCode"
                  type="number"
                  id="securityCode"
                  data-checkout="securityCode"
                  placeholder="NNN"
                  class="form-control"
                >
              </div>
              <div class="col-sm-2">
                <!-- Expiration month -->
                <label for="cardExpirationMonth" translate>
                  checkout.card.exp.month
                </label>
                <input
                  tabindex="7"
                  [(ngModel)]="payment.cardExpirationMonth"
                  name="cardExpirationMonth"
                  type="number"
                  id="cardExpirationMonth"
                  data-checkout="cardExpirationMonth"
                  placeholder="MM"
                  class="form-control"
                >
              </div>
              <div class="col-sm-2">
                  <!-- Expiration year -->
                  <label for="cardExpirationYear" translate>
                    checkout.card.exp.year
                  </label>
                  <input
                    tabindex="8"
                    [(ngModel)]="payment.cardExpirationYear"
                    name="cardExpirationDate"
                    type="number"
                    id="cardExpirationYear"
                    data-checkout="cardExpirationYear"
                    placeholder="YYYY"
                    class="form-control"
                  >
              </div>
            </div><!-- .row -->
            <div class="row">
              <div class="col-sm-12">
                <label for="cardholderName" translate>
                  checkout.card.name
                </label>
                <input
                  tabindex="9"
                  [(ngModel)]="payment.cardholderName"
                  name="cardholderName"
                  type="text"
                  id="cardholderName"
                  data-checkout="cardholderName"
                  placeholder="Max Power"
                  class="form-control"
                >
              </div>
            </div><!-- .row -->
            <div class="row">
              <form [formGroup]="checkoutForm" *ngIf="(checkout.items[0]?.type === 'reward')">
                <div class="col-sm-6">
                  <label for="address" translate>
                    Direccion de envío
                  </label>
                  <input
                    tabindex="10"
                    formControlName="address"
                    name="address"
                    type="text"
                    id="address"
                    placeholder="Calle N, Ciudad, CP"
                    class="form-control"
                  >
                </div>
                <div class="col-sm-6">
                  <label for="phone" translate>
                    Número de telefono
                  </label>
                  <input
                    tabindex="11"
                    name="phone"
                    type="number"
                    id="phone"
                    placeholder=""
                    formControlName="phone"
                    class="form-control"
                  >
                </div>
              </form><!-- .row -->
            </div>
          </ng-container>
        </div><!-- .col-sm-8 -->
        <!-- Sidebar -->
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12 padding-bottom">
          <aside>
            <div class="row">
              <div class="col-xs-12">
                <h4>Subtotal</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-gray">
                  Articulo/s
                </span>
                <span
                  *ngFor="let c of subTotals"
                  class="amount h5 to-right"
                >
                  {{ c.value | currency }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="text-gray">
                  {{ commissionLabel }}
                </span>
                <span
                  *ngFor="let c of subTotals"
                  class="amount h5 to-right"
                >
                  {{ c.value * commission / 100 | currency }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <span class="h3">
                  Total
                </span>
                <span
                  *ngFor="let c of subTotals"
                  class="amount h4 to-right"
                >
                  {{ c.code }} {{ c.value * commission / 100 + c.value | currency }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <p class="text-sm text-gray">
                  Necesitas ayuda? 
                  <span class="text-primary">
                    001 (917) 555-4836
                  </span>
                </p>
              </div>
            </div>
            <a
              routerLink="/cart"
              class="btn btn-default btn-ghost icon-left btn-block to-click"
            >
              <i class="material-icons arrow_back"></i>
              Volver al carrito
            </a>
            <!--input type="submit" (click)="doPay()" value="Pay!" /-->
            <button
              tabindex="10"
              (click)="doPay()" 
              type="submit"
              class="btn btn-primary btn-block waves-effect waves-light space-top-none"
              *ngIf="!isLoading"
              [disabled]="payment.email.length === 0 ||
                payment.docType.length === 0 ||
                payment.docNumber.toString().length === 0 ||
                payment.cardNumber.toString().length === 0 ||
                payment.securityCode.toString().length === 0 ||
                payment.cardExpirationMonth.toString().length === 0 ||
                payment.cardExpirationYear.toString().length === 0 ||
                payment.cardholderName.length === 0"
              translate
            >
              Confirm
            </button>
          </aside>
        </div><!-- .col-md-3.col-sm-4 -->
      </div><!-- .row -->
    </form><!-- .container -->
  </div><!-- .page-wrapper -->
