.new-icons {
    font-size: 15em;
    cursor: pointer;
}

.new-link:hover {
    color: rgba(245, 18, 48, 0.7);
    //color: rgba(68, 113, 145, 0.68);
    //color: rgba(112, 174, 96, 0.7);
}

.adventure-quantity {
    margin: 0 auto;
  }

  .edit-btn {
    background-color: white;
    color: gray;
  }
  
  .adv-btn {
    background-color: #77cde3;
  }

  .add-btn {
    background-color: white;
    color: #77cde3;
  }
