<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
<!-- Navbar -->
<!-- Remove ".navbar-sticky" class to make navigation bar scrollable with the page. -->
<header
  class="navbar navbar-sticky"
  [ngStyle]="{'background-color': backgroundColor}">

  <!-- Site Logo -->
  <a routerLink="/" class="site-logo visible-desktop">
    <!--span class="text-gray">Invow</span-->
    <!--span>Invow</span-->
    <img src="{{logo}}" alt="">
  </a><!-- site-logo.visible-desktop -->
  <a routerLink="/" class="site-logo visible-mobile">
      <!--span>Invow</span-->
      <img src="{{logo}}" style="max-width: 120px;" alt="">
  </a><!-- site-logo.visible-mobile -->
  <!-- Language Switcher -->
  <!--div class="lang-switcher">
    <div class="lang-toggle">
      <i class="material-icons arrow_drop_down"></i>
      <ul class="lang-dropdown">
        <li *ngFor="let language of languages">
            <a href="javascript:void(0)" (click)="setLanguage(language)">{{language}}</a>
        </li>
      </ul>
    </div>
  </div--><!--lang-switcher -->
  <app-toolbar></app-toolbar><!--[areVisible]="sharedService.isVisible()"-->
  <div class="col-xs-12" *ngIf="false"><!--sharedService.isVisible() === false-->
    <hr>
    <p class="text-gray">Estas subiendo archivos. No cierres esta ventana. El proceso puede tomar varios minutos.</p>
  </div>
</header><!-- .navbar.navbar-sticky -->
