<!-- Container -->
<section class="container padding-top-1x padding-bottom">
  <span
    class="row text-center" 
    *ngIf="name && status && message"
  >
    <h1 class="error-icon">
      <i class="material-icons error"></i>
    </h1>
    <h1>{{ name | translate }}</h1>
    <h5 class="text-gray">
      {{ message | translate}}
    </h5>
    <h5>{{ status | translate }}</h5>
  </span>
  <span
    class="row text-center" 
    *ngIf="error && error.length !== undefined && error.length !== 0"
  >
    <h1 class="error-icon">
      <i class="material-icons error"></i>
    </h1>
    <h1>{{ error }}</h1>
  </span>
  <span
    class="row text-center" 
    *ngIf="error && error.length === undefined"
  >
    <h1 class="warning-icon">
      <i class="material-icons error"></i>
    </h1>
    <h1>Algo salió mal</h1>
    <p class="text-sm text-gray">No pudimos encontrar lo que estas buscando.</p>
  </span>
</section><!-- .container -->
