<!-- TITLE -->
<h1
    class="h1 space-bottom-half title-label"
    *ngIf="currentUser && !showTitleInput && !sharedService.isLoading && adventureTitle"
    (mouseout)="showTitleEditButton = false"
    (mouseover)="showTitleEditButton = true"
    (click)="edit('title', adventureTitle)"
>
    {{ titleToShow }}
    <a *ngIf="showTitleEditButton">
        <i class="material-icons edit adventure-edit-icons"></i>
    </a>
</h1>
<h1
class="h1 space-bottom-half"
*ngIf="!currentUser && adventureTitle"
>
    {{ titleToShow }}
</h1>
<!-- /TITLE -->
<!-- TITLE INPUT FIELD -->
<div
    class="form-group" 
    *ngIf="showTitleInput && currentUser"
>
    <form [formGroup]="adventureForm">
        <div class="form-group col-xs-12">
            <input
                id="title"
                type="text"
                class="form-control title-input h1"
                formControlName="title"
                autofocus
            >
        </div>
        <div
            *ngIf="title.invalid && (title.dirty || title.touched)"
            class="form-group col-xs-12 alert text-danger"
        >
            <div *ngIf="title.errors.required" translate>
                El título es requerido.
            </div>
            <div *ngIf="title.errors.minlength" translate>
                El título debe tener al menos 3 caracteres.
            </div>
            <div *ngIf="title.errors.maxlength" translate>
                El título puede tener como máximo 12 caracteres.
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <button
                    (click)="cancel('title')"
                    class="btn btn-default form-control"
                    translate
                >
                    adventure.cancel.button
                </button>
            </div>
            <div class="col-xs-6">
                <button
                    [disabled]="title.invalid"
                    (click)="save()"
                    class="btn btn-primary form-control" translate>
                      adventure.save.button
                </button>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </form>
</div>
<!-- /TITLE INPUT FIELD -->