  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <!-- Page Section -->
    <div
      class="preloader"
      *ngIf="sharedService.isLoading && !showAll"
    >
      <img
        src="https://invow.blob.core.windows.net/invow-container/loader.gif"
        class="to-center"
      >
  </div>
    <!-- Product Info -->
    <section
      class="fw-section bg-gray padding-bottom-3x"
      *ngIf="!job && !sharedService.isLoading"
    >
      <!-- Container -->
      <div class="container">
        <!-- HEADER -->
        <app-header
          [capital]="adventure.capital"
          [goal]="adventure.goal"
          [endDate]="adventure.endDate"
          [createdAt]="adventure.createdAt"
        >
        </app-header>
        <div class="product-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="col-sm-12">
            <!-- TITLE -->
            <app-title
              [adventureTitle]="adventure.title"
              [adventureId]="adventure.id"
              [currentUser]="currentUser"
              (getTitle)="getField('title', $event)"
            >
            </app-title>
            <!-- META -->
            <app-meta
              [adventureLocation]="adventure.location"
              [adventureCategory]="adventure.category"
              [adventureReviewsResult]="adventureReviewsResult"
            >
            </app-meta>
          <!-- VIDEO -->
          <app-video
            [urlEmbed]="urlEmbed"
          >
          </app-video>

          <!-- BLURB -->
          <app-blurb
            [adventureBlurb]="adventure.blurb"
            [adventureId]="adventure.id"
            [currentUser]="currentUser"
            [currentSlug]="currentSlug"
            [currentInvcode]="currentInvcode"
            [adventureForm]="adventureForm"
            (getBlurb)="getField('blurb', $event)"
          >
          </app-blurb>
        </div>
        <!-- PROGRESS BAR -->
        <app-progress-bar
          [adventureGoal]="adventure.goal"
          [adventureCapital]="adventure.capital"
          [adventureBackers]="adventure.backers"
          [adventureDays]="adventure.days"
          [adventureEndDate]="adventure.endDate"
          [showAll]="showAll"
          [currentPercentage]="currentPercentage"
          [styleExpression]="styleExpression"
          [currentUser]="currentUser"
          [currentInvcode]="currentInvcode"
          [currentSlug]="currentSlug"
        >
        </app-progress-bar>        
        <!-- Tabs -->
        <ul class="nav-tabs text-center" role="tablist">
          <li class="active">
            <a
              href="#description"
              role="tab"
              data-toggle="tab"
              translate
            >
              adventure.description
            </a>
          </li>
          <li *ngIf="false">
            <a
              href="#additional"
              role="tab"
              data-toggle="tab"
              translate
            >
              adventure.files
            </a>
          </li>
          <li class="hidden-xs">
            <a
              href="#reviews"
              role="tab"
              data-toggle="tab"
              translate
            >
              adventure.reviews
              <sup
                *ngIf="!sharedService.isLoading && adventureReviews"
              >
                {{ adventureReviews.length }}
              </sup>
            </a>
          </li>
        </ul><!-- /TABS -->
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- DESCRIPTION -->
          <div
            role="tabpanel"
            class="tab-pane transition fade in active"
            id="description"
          >
            <app-description
              [adventureDescription]="adventure.description"
              [adventureCharts]="adventure.charts"
              [adventureId]="adventure.id"
              [adventureForm]="adventureForm"
              [currentInvcode]="currentInvcode"
              [currentSlug]="currentSlug"
              [currentUser]="currentUser"
              (getDescription)="getField('description', $event)"
            >
            </app-description>
          </div><!--.tab-pane-->
          
          <!-- FILES -->
          <div
            role="tabpanel"
            class="tab-pane transition fade"
            id="additional"
          >
            <app-files
              [adventureDocuments]="adventure.documents"
              [adventureId]="adventure.id"
              [currentInvcode]="currentInvcode"
              [currentSlug]="currentSlug"
            >
            </app-files>
          </div><!--.tab-pane-->
          <div
            role="tabpanel"
            class="tab-pane transition fade"
            id="reviews"
          >
            <!-- REVIEWS -->
            <app-reviews
              [adventureReviews]="adventure.reviews"
              [adventureId]="adventure.id"
              [currentSlug]="currentSlug"
              [currentInvcode]="currentInvcode"
              [currentUser]="currentUser"
              [refreshReviews]="refreshReviews"
              (getReview)="getField('review', $event)"
            >
            </app-reviews>
          </div><!--.tab-pane-->
          </div><!-- .tab-content -->
        </div>
        <div
          class="product-info text-center col-lg-6 col-md-6 col-sm-6 col-xs-12"
        >
        <!-- DONATIONS -->
        <app-donations
          [adventureId]="adventure.id"
          [adventureInvcode]="adventure.invcode"
          [adventureSlug]="adventure.slug"
          [adventureDays]="adventure.days"
          [adventureTitle]="adventure.title"
          [adventureEndDate]="adventure.endDate"
          [username]="username"
        >
        </app-donations>
        <!-- REWARDS -->
        <app-rewards
          [adventureRewards]="adventure.rewards"
          [adventureInvcode]="adventure.invcode"
          [adventureId]="adventure.id"
          [adventureSlug]="currentSlug"
          [adventureDays]="adventure.days"
          [adventureEndDate]="adventure.endDate"
          [currentUser]="currentUser"
          [adventureForm]="adventureForm"
          [username]="username"
        >
        </app-rewards>
            <!-- PROPOSAL -->
            <app-proposal
              [adventureProposals]="adventure.proposals"
              [adventureId]="adventure.id"
              [currentInvcode]="currentInvcode"
              [currentSlug]="currentSlug"
              [username]="username"
              [refreshReviews]="refreshReviews"
            >
            </app-proposal>
        </div><!-- .product-info -->
      </div><!-- .container -->
    </section><!-- .fw-section.bg-gray -->
  </div><!-- .page-wrapper -->
