.adv-user-main-buttons {
  float: right;
}

.private-check {
  padding-left: 12px;
  width: 12px;
}

.adventure-icons {
  font-size: 34pt;
  cursor: pointer;
}

.chart-edit-icons {
  font-size: 24pt;
  cursor: pointer;
}

.editable {
  display: block;
  font-size: 24pt;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.participations-input {
  margin: 0 auto;
  margin-bottom: 12px;
}

.add-pie-row {
  color: #77cde3;
}

.loader-center {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}

.pie-chart {
  display: block;
  width: 100%;
  height: 100%;
}