<!-- Video Popup -->
<div class="fw-section" style="background-color: black">
  <video controls autoplay class="to-center fw-section video-about">
    <source src="assets/video/video-presentacion.mp4" type="video/mp4">
    <source src="assets/video/video-presentacion.webm" type="video/webm">
  Your browser does not support the video tag.
  </video>
</div><!-- .fw-section -->

    <!-- Content -->
    <section class="container padding-top-3x padding-bottom-3x">
      <h1 translate>
        about.title
      </h1>
      <div class="row padding-top">
        <div class="col-md-5 col-sm-6 padding-bottom">
          <h3 translate>
            about.brand
          </h3>
          <p class=" space-top" translate>about.text</p>
        </div><!-- .col-md-5.col-sm-6 -->
        <div class="col-sm-6 col-md-offset-1 padding-bottom">
          <h3 translate>
            about.mission
          </h3>
          <div class="quotation padding-top">
            <blockquote>
              <p translate>about.text.mission</p>
            </blockquote>
          </div><!-- .quotation -->
        </div><!-- .col-md-6.col-sm-6.col-md-offset-1 -->
      </div><!-- .row -->
    </section><!-- .container -->
