<!-- DONATIONS -->
<div class="col-xs-12 padding-top-1x padding-bottom-2x" *ngIf="calculateDays() > 0">
  <span class="row">
    <h3>
      Contribuir
    </h3>
    <p class="text-sm text-gray">
      Apoya al proyecto sin recompensa.
    </p>
    <span class="col-lg-9 col-xs-6">
      <input type="number" [(ngModel)]="amount" class="form-control" placeholder="Monto">
    </span>
    <span class="col-lg-3 col-xs-6">
      <button
        class="btn btn-primary to-click adv-btn"
        style="margin-top: 0; margin-left: 0"
        (click)="checkout()"
        translate
      >
        <p translate>
          CONTINUAR
        </p>
      </button><!-- invest -->
    </span>
  </span>
</div>
<!-- /DONATIONS -->