<!-- HEADER -->
<div class="shop-label text-gray text-right scope-label">
    <!--text-danger for public-->
    <div
      *ngIf="false"
      class="text-success to-click hidden-xs"
      (mouseenter)="displayLabel=true"
      (mouseleave)="displayLabel=false"
      routerLink="/price"
    >
      <i class="material-icons public"></i>
      <div
        class="text-sm text-gray"
        *ngIf="displayLabel"
      >
        PUBLIC
      </div>
    </div>
    <div
      class="text-danger hidden-xs"
      *ngIf="days === 0 && capital < goal"
    >
      Finalizada.
    </div>
    <div
      class="text-success hidden-xs"
      *ngIf="capital >= goal"
    >
      Financiada.
    </div>
</div>
<!-- /HEADER -->
