<section class="container padding-top-1x padding-bottom">
  <h1 class="space-top-half">Cart</h1>
  <div class="row padding-top">
    <div class="col-sm-8 padding-bottom-2x">
      <p class="text-sm">
        <span class="text-gray">Currently</span> {{cartService.length()}} items
        <span class="text-gray"> in cart</span>
      </p>
      <div class="shopping-cart">
        <div *ngFor="let item of cartService.get(), let i = index" class="item">
          <a href="{{item.url}}" class="item-thumb">
            <img src="sharedService.getImage({{item.type}}.png)" alt="Item">
          </a>
          <div class="item-details">
            <h3 class="item-title"><a href="{{item.url}}">{{item.title}} {{(item.quantity > 1)? " X " + item.quantity : ""}}</a></h3>
            <h4 class="item-price">{{ item.currency }} {{ item.price * item.quantity | currency }}</h4>
          </div>
          <a (click)="cartService.remove(i)" class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove">
            <i class="material-icons remove_shopping_cart"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
      <aside>
        <h3 class="toolbar-title">Cart subtotal:</h3>
        <h4 *ngFor="let c of cartService.subtotals()" class="amount">{{ c.code }} {{ c.value | currency }}</h4>
        <p class="text-sm text-gray">* Note: This amount does not include costs for international shipping. You will be able to calculate shipping costs on checkout.</p>
        <a href="#" class="btn btn-default btn-block waves-effect waves-light">Update Cart</a>
        <a *ngIf="cartService.length() !== 0" routerLink="/checkout" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</a>
      </aside>
    </div>
  </div>
</section>
