

<!-- Review -->
<div
  class="review"
  *ngFor="let review of reviewsView | reverse;
  let last = last;"
>
  <div class="review-body" >
    <div class="review-meta">
      <div class="column">
        <h4 class="review-title">
          {{ review.title }}
        </h4>
      </div>
      <div class="column">
        <span class="product-rating text-warning">
          <i
            class="material-icons star"
            *ngIf="review.stars >= 1"
          >
          </i>
          <i
            class="material-icons star"
            *ngIf="review.stars >= 2"
          >
          </i>
          <i
            class="material-icons star"
            *ngIf="review.stars >= 3"
          >
          </i>
          <i
            class="material-icons star"
            *ngIf="review.stars >= 4"
          >
          </i>
          <i
            class="material-icons star"
            *ngIf="review.stars >= 5"
          >
          </i>
        </span>
      </div>
    </div>
    <p>
      {{ review.review }}
    </p>
    <cite *ngIf="review.username">
      {{ review.username }}
    </cite>
  </div>
</div><!-- .review -->
<!-- Review Form -->
<div
  class="col-xs-12 text-center"
  *ngIf="reviewSuccess"
>
  <h1 class="success-icon">
    <i class="material-icons check_circle"></i>
  </h1>
  <h4 class="padding-top" translate>
    adventure.review.sended
  </h4>
  <p class="text-sm text-gray" translate>
    adventure.review.thanksmessage
  </p>
</div>
<div
  class="col-xs-12 text-center"
  *ngIf="reviewError"
>
  <h1 class="error-icon">
    <i class="material-icons error"></i>
  </h1>
  <h4 translate>
    adventure.review.errormessage
  </h4>
  <p class="text-sm text-gray" translate>
    adventure.review.waittrymessage
  </p>
</div>
<div
  class="col-xs-12"
  *ngIf="reviewLoading" 
>
  <img
    src="https://invow.blob.core.windows.net/invow-container/loader.gif"
    class="to-center"
    alt="Invow is loading"
  >
</div>
<div
  class="col-xs-12"
  *ngIf="reviewFormView && !currentUser"
>
  <hr>
  <h4 class="padding-top" translate>
    adventure.review.leave
  </h4>
  <form
    [formGroup]="reviewForm"
    class="row padding-top"
  >
    <div class="col-sm-6">
      <div class="form-element">
        <input
          type="text"
          class="form-control"
          placeholder="{{'adventure.review.title.placeholder' | translate}}*"
          required
          formControlName="title"
        >
        <div
          *ngIf="reviewTitle.invalid && (reviewTitle.dirty || reviewTitle.touched)"
          class="alert text-danger"
        >
          <div
            *ngIf="reviewTitle.errors.required"
            translate
          >
            adventure.review.title.required
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-element">
        <input
          type="email"
          class="form-control"
          placeholder="{{'adventure.review.email.placeholder' | translate}}"
          required
          formControlName="email"
        >
        <div
          *ngIf="reviewEmail.invalid && (reviewEmail.dirty || reviewEmail.touched)"
          class="alert text-danger"
        >
          <div
            *ngIf="reviewEmail.errors.required"
            translate
          >
            adventure.review.email.required
          </div>
          <div
            *ngIf="reviewEmail.errors.email && !reviewEmail.errors.required"
            translate
          >
            adventure.review.email.validation
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-element form-select">
        <select
          class="form-control"
          formControlName="stars"
        >
          <option value="5" translate>
            adventure.reviews.5starts
          </option>
          <option value="4" translate>
            adventure.reviews.4starts
          </option>
          <option value="3" translate>
            adventure.reviews.3starts
          </option>
          <option value="2" translate>
            adventure.reviews.2starts
          </option>
          <option value="1" translate>
            adventure.reviews.1starts
          </option>
        </select>
        <div
          *ngIf="reviewStars.invalid && (reviewStars.dirty || reviewStars.touched)"
          class="alert text-danger"
        >
          <div
            *ngIf="reviewStars.errors.required"
            translate
          >
            adventure.review.starts.required
          </div>
          <div *ngIf="reviewStars.errors.min" translate>
            adventure.review.starts.validation.minlenght
          </div>
          <div *ngIf="reviewStars.errors.min" translate>
            adventure.review.starts.validation.maxlenght
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-element">
        <textarea
          rows="8"
          class="form-control"
          placeholder="{{'adventure.review.placeholder' | translate}}"
          required
          formControlName="review"
        >
        </textarea>
        <div 
          *ngIf="reviewContent.invalid && (reviewContent.dirty || reviewContent.touched)"
          class="alert text-danger"
        >
        <div
          *ngIf="reviewContent.errors.required"
          translate
        >
          adventure.review.required
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <button
      [disabled]="reviewForm.invalid"
      (click)="save('review')"
      class="btn btn-block btn-primary waves-effect waves-light space-top-none space-bottom-none form-control"
      translate
    >
      adventure.review.button.leavereview
    </button>
  </div>
</div>
</form><!-- .row -->
</div><!-- .tab-pane -->