<section class="container-fluid fw-section bg-gray pattern">
  <div class="col-xs-12 padding-top-2x padding-bottom-2x">
    <div class="row">
      <div class="col-xs-12 bkg-white padding-top-2x padding-bottom-2x">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngIf="!firstFormSuccess && !firstFormView">
          <img src="https://invow.blob.core.windows.net/invow-container/investment-360.png" class="to-center" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-top-1x padding-bottom-2x bkg-white-transparent"
        style="padding-left: 36px;" *ngIf="!firstFormSuccess && !firstFormView">
          <div class="col-xs-12">
            <h1>Mantené tus ahorros invirtiendo.</h1>
            <p class="text-sm text-gray">
              Mantené tus ahorros invirtiendo en proyectos.
              Le ganas a la inflación y aportas al crecimiento.
            </p>
            <button
            class="btn btn-primary"
            style="margin: 0 auto;"
            (click)="goToInvest()">
              Invertir
            </button>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padding-top-2x">
            <blockquote class="text-gray">
              “El desarrollo progresivo de la humanidad es vitalmente dependiente de la invención. Es el resultado más importante de su mente creativa.”
            </blockquote>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngIf="false">
          <img src="https://invow.blob.core.windows.net/invow-container/guruAgent.png" style="margin: 0 auto;" width="180px" alt="">
          <h2 class="text-center">¿Querés convertirte en Agente?</h2>
          <button class="btn btn-primary form-control">
            Empezar
          </button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bkg-white-transparent" *ngIf="isLoading">
          <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bkg-white-transparent"
        *ngIf="signupFormView && !username && !isLoading">
          <h2>Create una cuenta.</h2>
          <!-- SIGN UP FORM -->
          <form
              class="login-form"
              [formGroup]="signUpForm">
              <!-- SIGN UP USER -->
              <small
                    [hidden]="signUpForm.get('username').valid || signUpForm.get('username').untouched"
                    class="text-danger"
                    translate>
                    sign.login.validation.required
              </small>
               <input
                   name="username"
                   type="email"
                   class="form-control"
                   placeholder="{{'sing.username.placeholder' | translate}}"
                   formControlName="username"
                   required />
               <!-- SIGN UP PASSWORD -->
               <small
                   [hidden]="signUpForm.get('password').valid || signUpForm.get('password').untouched"
                   class="text-danger"
                   translate>
                   sign.password.required
               </small>
               <input
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="{{'sign.login.username.placeholder.password' | translate}}"
                   formControlName="password"
                   required />
                <!-- SIGN UP PASSWORD REPEATED -->
                <div
                    style='color:#ff7355'
                    *ngIf="signUpForm.get(['password']).value != signUpForm.get(['passwordRepeated']).value && signUpForm.get(['passwordRepeated']).value != null" translate>
                    sign.password.value
                </div>
                <input
                    name="passwordRepeated"
                    type="password"
                    class="form-control"
                    placeholder=" {{'sign.password.repeat.placeholder' | translate}}"
                    formControlName="passwordRepeated"
                    required />
                <div class="form-footer">
                    <div class="rememberme"></div>
                    <div class="form-submit">
                        <button
                            type="submit"
                            class="btn btn-danger btn-block waves-effect waves-light"
                            (click)="signUp()" translate>
                            sign.signup.button
                        </button>
                    </div>
                </div>
          </form><!-- .login-form -->
        </div>
        <div
        class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center bkg-white-transparent"
        *ngIf="signupSuccess && !isLoading">
          <h1 class="success-icon">
            <i class="material-icons check_circle"></i>
          </h1>
          <h4 class="padding-top" translate>
            home.sign.success.title
          </h4>
          <p class="text-sm text-gray" translate>
            home.sign.success.content
          </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bkg-white-transparent text-center"
        *ngIf="username && !firstFormSuccess && firstFormView && !isLoading">
          <img src="https://invow.blob.core.windows.net/invow-container/user-360.png" class="to-center" alt="">
          <h1>¡Hola <strong>{{ username }}</strong>!</h1>
          <p class="text-sm text-gray">
            Por favor completá tus datos para poder usar la plataforma.
          </p>
          <form [formGroup]="firstForm" class="container">
            <!-- Uploader -->
            <app-uploader
            [fileForm]="firstForm"
            [control]="'image'"
            [type]="'image'"
            [uploadState]="uploadState"
            [uploadingState]="uploadingState"
            [required]="true"
            [size]="50000000">
            </app-uploader>
            <!--/Uploader -->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-element">
                  <label for="first_name">First Name</label>
                  <input
                  type="text"
                  id="first_name"
                  formControlName="firstName"
                  class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-element">
                  <label for="last_name">Last Name</label>
                  <input
                  type="text"
                  id="last_name"
                  class="form-control"
                  formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label for="birdthday">Fecha de nacimiento</label>
                <input
                type="text"
                id="birthday"
                class="form-control"
                placeholder="DD/MM/AAAA"
                formControlName="birthday">
              </div>
              <div class="col-sm-6">
                <label for="location">¿En donde estas?</label>
                <input
                type="text"
                id="location"
                class="form-control"
                formControlName="location">
              </div>
            </div>
            <div class="form-element">
              <label for="shortBio">Biografía breve</label>
              <textarea
              id="shortBio"
              class="form-control"
              value="33 Bedford Str."
              rows="6"
              formControlName="shortBio">
              </textarea>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label for="country">Profile scope</label>
                <div class="form-element form-select">
                  <select class="form-control" id="country"
                  formControlName="scope">
                    <option value="1">Público</option>
                    <option value="2">Privado</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <p class="text-sm text-gray">
                  <strong>Público</strong>
                </p>
                <p class="text-sm text-gray">
                  Tu perfil y proyectos serán públicos.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right mobile-center">
                <button
                type="submit"
                [disabled]="firstForm.invalid"
                class="btn btn-primary waves-effect waves-light"
                (click)="goToProfile()">
                Ir a mi perfil</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bkg-white-transparent text-center"
        *ngIf="username && !firstFormSuccess && !firstFormView && account && !isLoading">
          <a (click)="goUser(username)" class="to-click">
            <img
            *ngIf="account?.image"
            src="{{ domain }}/image/{{ account.image }}"
            class="img-circle profile-image">
          </a>
          <h1>¡Hola <strong>{{ username }}</strong>!</h1>
          <p class="text-sm text-gray">
            Acá vas a poder encontrar tus notificaciones.
          </p>
          <button class="btn btn-primary to-click" (click)="goUser(username)">
            Mi perfil
          </button>
        </div>
        <div
        class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center bkg-white-transparent"
        *ngIf="firstFormSuccess !isLoading">
          <h1 class="success-icon">
            <i class="material-icons check_circle"></i>
          </h1>
          <h4 class="padding-top" translate>
            home.first.form.success.title
          </h4>
          <p class="text-sm text-gray" translate>
            home.first.form.success.content
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
