<!--  STEP TWO -->
<div class="col-sm-12">
    <h1>Set your agreements.</h1>
    <p>
        Invite backers to be a part of the creative experience by
        offering rewards like a copy of what you’re making, a special
        experience, or a behind-the-scenes look into your process.
    </p>
        <form
            [formGroup]="stepTwo">
        <div
            class="form-group"
            formArrayName="agreements"
            *ngFor="let agreement of agreements.controls; let i = index;"
            [ngClass]="agreement.invalid && (agreement.dirty || agreement.touched) ? 'light-red' : 'light-blue'">
            <div class="row" [formGroupName]="i">
                <div class="col-md-12">
                    <h3>
                        Round # {{ i + 1 }}
                    </h3>
                    <hr>
                </div>
                <div>
                    <div class="col-xs-4">
                        <!-- Percentage -->
                        <div class="form-group">
                            <label for="example-url-input" class="col-3 col-form-label">
                                <h5>
                                    Percentage
                                </h5>
                            </label>
                            <div class="col-9">
                                <input
                                    class="form-control"
                                    name="percentage"
                                    formControlName="percentage"
                                    type="text"
                                    value=""
                                    id="example-url-input" />
                                <div
                                    *ngIf="agreement.controls.percentage.invalid && (agreement.controls.percentage.dirty || agreement.controls.percentage.touched)"
                                    class="alert text-danger">

                                    <div *ngIf="agreement.controls.percentage.errors.required">
                                        Percentage is required.
                                    </div>
                                    <div *ngIf="agreement.controls.percentage.errors.min && !agreement.controls.percentage.errors.required">
                                        Start with 1%.
                                    </div>
                                    <div *ngIf="agreement.controls.percentage.errors.max && !agreement.controls.percentage.errors.required">
                                        Type 100% at last.
                                    </div>
                                    <div *ngIf="agreement.controls.percentage.errors.pattern">
                                        You can type only numbers.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Participations -->
                        <div class="form-group">
                            <label for="example-url-input" class="col-3 col-form-label">
                                <h5>Participations</h5>
                            </label>
                            <div class="col-9">
                                <input
                                    class="form-control"
                                    name="days"
                                    formControlName="participations"
                                    type="text"
                                    value=""
                                    id="example-url-input" />
                                <div
                                    *ngIf="agreement.controls.participations.invalid && (agreement.controls.participations.dirty || agreement.controls.participations.touched)" class="alert text-danger">

                                    <div *ngIf="agreement.controls.participations.errors.required">
                                        Investment days are required.
                                    </div>
                                    <div *ngIf="agreement.controls.participations.errors.min && !agreement.controls.participations.errors.required">
                                        Start with 1 day.
                                    </div>
                                    <div *ngIf="agreement.controls.participations.errors.max && !agreement.controls.participations.errors.required">
                                        1095 days it's the top.
                                    </div>
                                    <div *ngIf="agreement.controls.days.errors.pattern">
                                        You can type only numbers.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Price -->
                        <div class="form-group">
                            <label for="example-search-input" class="col-3 col-form-label">
                                <h5>Price</h5>
                            </label>
                            <div class="col-9">
                                <input
                                    class="form-control"
                                    name="price"
                                    formControlName="price"
                                    type="text"
                                    id="example-search-input" />

                                <div
                                    *ngIf="agreement.controls.price.invalid && (agreement.controls.price.dirty || agreement.controls.price.touched)"
                                    class="alert text-danger">

                                    <div *ngIf="agreement.controls.price.errors.required">
                                        A price amount is required.
                                    </div>
                                    <div *ngIf="agreement.controls.price.errors.min && !agreement.controls.price.errors.required">
                                        Start with $1.
                                    </div>
                                    <div *ngIf="agreement.controls.price.errors.max && !agreement.controls.price.errors.required">
                                        $ 10.000.000 it's the top.
                                    </div>
                                    <div *ngIf="agreement.controls.price.errors.pattern">
                                        You can type only numbers.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                        <div class="col-xs-6">
                            <p>Percentage p/participation:</p>
                        </div>
                        <div
                            *ngIf="!agreement.controls.price.invalid"
                            class="col-xs-6 text-right">
                             <h5>{{ agreement.controls.price.value * 50 / (agreement.controls.price.value * agreement.controls.participations.value) }}%</h5>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                        <div class="col-xs-6">
                            <h5>Total:</h5>
                        </div>
                        <div
                            *ngIf="!agreement.controls.price.invalid"
                            class="col-xs-6 text-right">
                             <h3>{{ agreement.controls.price.value * agreement.controls.participations.value |currency:'EUR':true}}</h3>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        </form>

    <!-- ADD REWARD -->
    <div class="col-6">
        <p class="form-control-static pt-3">
            <button
                class="btn btn-primary"
                (click)="addAgreement()">
                    <i class="fa fa-plus" aria-hidden="true">
                    </i>
                    Add agreement
            </button>
            <button
                class="btn btn-danger"
                (click)="deleteAgreement()">
                    <i class="fa fa-minus" aria-hidden="true">
                    </i>
                    Delete agreement
            </button>
        </p>
    </div>
    <nav
        class="navbar fixed-bottom navbar-light bg-faded"
        style="background: #fff; border-top: 1px solid #eee">
        <div style="float: right;">
            <button (click)="stepTwo.reset()" class="btn btn-link btn-lg float-right">
                Clean step
            </button>
            <button
                (click)="sendStepTwo()"
                [disabled]="stepTwo.invalid"
                class="btn btn-primary btn-lg float-right">
                {{ 'Finish!' }}
            </button>
        </div>
    </nav>
</div>
<!-- /STEP TWO -->
