.fa {
  vertical-align: middle;
}

i {
    cursor: pointer;
}

.red-icon {
  color: rgba(245, 18, 48, 0.7);
}

.blue-icon {
  color: #77cde3;
}

.main-icons {
  padding-top: 12px;
  line-height: 18px !important;
}

.main-img {
  width: 60px;
  margin: 0 auto;
}
