<div class="form-element">
  <span
      class="btn btn-file form-control to-click"
      [ngClass]="fileUploaded ? 'btn-success' : 'btn-primary'"
      *ngIf="uploadState != uploadingState">
      <i class="material-icons cloud_upload"
      *ngIf="!fileUploaded"></i>
      {{ uploadState }}
      <i class="material-icons cloud_done"
      *ngIf="fileUploaded"></i>
      <label>
          <input
              type="file"
              id="projectFile"
              name="fileUploader"
              (change)="onFileChange($event)"/>
          <input
              type="hidden"
              name="fileHidden"
              [(ngModel)]="fileModel"
              [ngModelOptions]="{standalone: true}"
              />
      </label>
  </span>
  <span class="btn btn-file form-control btn-disabled"
  *ngIf="uploadState === uploadingState">
      {{ uploadState }}
  </span>
  <div
      *ngIf="fileRequired && required"
      class="alert text-danger">
      <div *ngIf="!fileSize || !fileExtension">
        Please upload an image (jpg, png, bpm).
        50mb max size.
      </div>
  </div>
</div>
