<!-- Content -->
<section class="container padding-top-3x padding-bottom-2x">
    <div class="row padding-top">
        <div class="col-xs-12 padding-bottom" *ngIf="isLoading && !showLogin">
          <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
        </div>
        <div class="col-md-4 padding-bottom" *ngIf="!isLoading && showLogin">
            <h3 translate>
              sign.login
            </h3>
            <!-- LOGIN FORM -->
            <form class="login-form"
                [formGroup]="loginForm"
                novalidate>
                <div
                    class="alert text-danger"
                    [hidden]="!error || alreadyExist"
                    translate>
                    sign.login.validation
                </div>
                <!-- USERNAME -->
                <small
                      [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                      class="text-danger"
                      translate>
                      sign.login.validation.required
                </small>
                <input
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="{{'sign.login.username.placeholder.name' | translate}}"
                    formControlName="username"
                    required />
                <!-- PASSWORD -->
                <small
                    [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                    class="text-danger"
                    translate>
                    sign.login.password.validation
                </small>
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="{{'sign.login.username.placeholder.password' | translate}}"
                    formControlName="password"
                    required />
                <div class="form-footer">
                    <div class="rememberme">
                        <!-- REMEMBER ME -->
                        <label class="checkbox">
                            <input
                                type="checkbox"
                                checked />
                            {{'sign.login.rememberme' | translate}}
                        </label>
                    </div>
                    <div class="form-submit">
                        <button
                            type="submit"
                            class="btn btn-primary btn-block waves-effect waves-light"
                            (click)="login()"
                            translate>
                            sign.login.button
                        </button>
                    </div>
                </div>
            </form><!-- .login-form -->
        </div><!-- .col-md-4 -->
        <div class="col-xs-12" *ngIf="isLoading && !showSignUp">
          <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
        </div>
        <div class="col-md-4 col-md-offset-1" *ngIf="!isLoading && showSignUp">
              <h3 translate>
                sign.register
              </h3>
              <div class="inner">
                    <!-- SIGN UP FORM -->
                    <form
                        class="login-form"
                        [formGroup]="signUpForm">
                        <!-- SIGN UP USER -->
                        <small
                              [hidden]="(signUpForm.get('username').valid || signUpForm.get('username').untouched) || alreadyExist"
                              class="text-danger"
                              translate>
                              sign.login.validation.required
                        </small>
                        <small
                              [hidden]="!alreadyExist"
                              class="text-danger"
                              translate>
                              Ya existe una cuenta creada con ese e-mail.
                        </small>
                         <input
                             name="firstName"
                             type="text"
                             class="form-control"
                             placeholder="Nombre"
                             formControlName="firstName"
                             required />
                        <input
                             name="lastName"
                             type="text"
                             class="form-control"
                             placeholder="Apellido"
                             formControlName="lastName"
                             required />
                        <input
                             name="username"
                             type="email"
                             class="form-control"
                             placeholder="{{'sing.username.placeholder' | translate}}"
                             formControlName="username"
                             required />
                         <!-- SIGN UP PASSWORD -->
                         <small
                             [hidden]="signUpForm.get('password').valid || signUpForm.get('password').untouched"
                             class="text-danger"
                             translate>
                             sign.password.required
                         </small>
                         <input
                             name="password"
                             type="password"
                             class="form-control"
                             placeholder="{{'sign.login.username.placeholder.password' | translate}}"
                             formControlName="password"
                             required />
                          <!-- SIGN UP PASSWORD REPEATED -->
                          <small
                            *ngIf="signUpForm.get(['password']).value != signUpForm.get(['passwordRepeated']).value && signUpForm.get(['passwordRepeated']).value != null"
                            class="text-danger"
                            translate>
                            sign.password.value
                          </small>
                          <input
                              name="passwordRepeated"
                              type="password"
                              class="form-control"
                              placeholder=" {{'sign.password.repeat.placeholder' | translate}}"
                              formControlName="passwordRepeated"
                              required />
                          <div class="form-footer">
                              <div class="rememberme"></div>
                              <div class="form-submit">
                                  <button
                                      type="submit"
                                      class="btn btn-danger btn-block waves-effect waves-light"
                                      (click)="signUp()"
                                      translate>
                                      sign.signup.button
                                  </button>
                              </div>
                          </div>
                    </form><!-- .login-form -->
              </div><!-- .inner -->
        </div><!-- .col-md-4.col-md-offset-1 -->
    </div><!-- .row -->
</section><!-- .container -->
