  <modal #htmlInsideModal>
    <ng-template #modalHeader>
      <h2>Información de contacto</h2>
    </ng-template>
    <ng-template #modalBody>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          Nombre Completo:
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {{contact.contributor}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          Teléfono:
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <span itemprop="telephone">
            <a href="tel:+549{{contact.phone}}">
              {{contact.phone}}
            </a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          E-mail:
        </div>
        <div class="col-xs-6">
          <strong>
            {{contact.email}}
          </strong>
        </div>
      </div>
    </ng-template>
  </modal>
  <modal #shippingContactModal>
    <ng-template #modalHeader>
      <h2>Información de contacto</h2>
    </ng-template>
    <ng-template #modalBody>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          Nombre Completo:
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {{contact.fullName}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          Dirección:
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {{contact.address}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          Teléfono:
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <span itemprop="telephone">
            <a href="tel:+549{{contact.phone}}">
              {{contact.phone}}
            </a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          E-mail:
        </div>
        <div class="col-xs-6">
          <strong>
            {{contact.email}}
          </strong>
        </div>
      </div>
    </ng-template>
  </modal>
  <modal #shippingFormModal>
    <ng-template #modalHeader>
      <h2>Datos de envío</h2>
      <p class="text-sm text-gray">
        Una vez que hayas despachado el paquete en la empresa de correo
        que mas te guste, llena el formulario con los siguientes datos: 
        Nombre de la empresa de correo y Código de seguimiento
        (la empresa de correo te dará esta información una vez despachado el envío).
        Muchas gracias.
      </p>
    </ng-template>
    <ng-template #modalBody>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="shippingCompany">
              Empresa de correo:
            </label>
            <input
              id="shippingCompany"
              type="text"
              [(ngModel)]="shippingCompany"
              placeholder="Nombre"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="trackingCode">
              Código de seguimiento:
            </label>
            <input
              class="trackingCode"
              type="text"
              [(ngModel)]="trackingCode"
              placeholder="Código de seguimiento"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button
            class="btn btn-primary form-control"
            (click)="loadShippingMethod(adventureIndex, deliveryIndex)"
          >
            Cargar
          </button>
        </div>
      </div>
    </ng-template>
  </modal>

  <modal #statusShippingModal>
    <ng-template #modalHeader>
      <h2>¿Recibiste el paquete?</h2>
    </ng-template>
    <ng-template #modalBody>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="text-sm text-gray">
            Tu información es importante para contribuir a que todos los proyectos evolucionen.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <button
            class="btn btn-primary form-control"
            (click)="delivered()"
          >
            Lo recibí
          </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <button
            class="btn btn-danger form-control"
            routerLink="/report"
          >
            Tengo un problema
          </button>
        </div>
      </div>
    </ng-template>
  </modal>
  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <div class="preloader">
      <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
    </div>
    <!-- Product Info -->
    <section class="fw-section bg-gray padding-bottom-3x" *ngIf="!isLoading">
      <div class="container">
        <div class="row to-right close-session-btn">
          <span class="text-danger to-click" (click)="logout()" (mouseover)="showLogout = true" (mouseout)="showLogout = false">
            <i class="material-icons forward"></i>
          </span>
          <span class="text-sm to-click" (click)="logout()">
            Cerrar sesión
          </span>
        </div>
        <span class="row">
        </span>
        <span class="shop-label text-right profile-head-icons">
          <span class="text-success">
            <i class="material-icons lock"></i>
          </span>
        </span>
        <div class="row">
          <div>
            <div>
              <div class="row" *ngIf="!isLoading">
                <div class="col-sm-12">
                  <img
                    *ngIf="user?.picture"
                    src="{{ user.picture }}"
                    class="img-circle profile-image" alt="">
                </div>
                <div class="col-sm-12">
                  <!-- FULLNAME -->
                  <h1 class="h1 space-bottom-half text-center padding-top-2x">
                    {{ profile.firstName }} <strong>{{ profile.lastName }}</strong>
                  </h1>
                  <!-- /FULLNAME -->
                  <!-- REVIEW RESULT -->
                  <div class="product-meta text-center">
                    <span class="product-rating text-warning">
                      <i class="material-icons star" *ngIf="profileReviewsResult >= 1"></i>
                      <i class="material-icons star" *ngIf="profileReviewsResult >= 2"></i>
                      <i class="material-icons star" *ngIf="profileReviewsResult >= 3"></i>
                      <i class="material-icons star" *ngIf="profileReviewsResult >= 4"></i>
                      <i class="material-icons star" *ngIf="profileReviewsResult >= 5"></i>
                    </span>
                  </div>
                  <!-- /REVIEW RESULT -->
                  <!-- BIRTHDAY -->
                  <!--div class="product-meta text-center">
                    <div class="product-category row">
                      <span class="text-sm text-gray">
                        {{ profile.birthday }}
                      </span>
                    </div>
                  </div-->
                  <!-- /BIRTHDAY -->
                  <!-- SHORTBIO -->
                  <p
                  class="text-sm text-gray text-center"
                  *ngIf="!showBioInput && !isLoading && adventures?.length > 0 && false"
                  (click)="edit('bio', profile)">
                  <!--(mouseout)="showBioEditButton = false" (mouseover)="showBioEditButton = true"-->
                    {{ profile.shortBio }}
                    <a>
                      <i class="material-icons edit adventure-edit-icons"
                        *ngIf="showBioEditButton"
                      ></i>
                    </a>
                  </p>
                  <!-- /SHORTBIO -->
                </div>
                <!-- SHORTBIO INPUT FIELD -->
                <div class="form-group" *ngIf="showBioInput">
                  <form [formGroup]="profileForm">
                    <div class="form-group col-xs-12">
                      <label for="blurb">Short Bio</label>
                      <textarea
                      id="bio"
                      type="text"
                      rows="3"
                      class="form-control"
                      formControlName="bio"></textarea>
                    </div>
                    <div *ngIf="bio.invalid && (bio.dirty || bio.touched)" class="alert text-danger">
                      <div *ngIf="bio.errors.required">
                        Bio is required.
                      </div>
                      <div *ngIf="bio.errors.minlength">
                        Bio min length: 12 characters.
                      </div>
                      <div *ngIf="bio.errors.maxlength">
                        Bio max length: 360 characters.
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="col-xs-6">
                        <button
                        (click)="cancel('bio')"
                        class="btn btn-default form-control">
                        Cancel
                        </button>
                      </div>
                      <div class="col-xs-6">
                        <button
                          [disabled]="profileForm.invalid"
                          (click)="save()"
                          class="btn btn-primary form-control">
                          Save
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /SHORTBIO INPUT FIELD -->
              </div>
            </div>
          </div>
        </div>
        <!--SIDE-->
        <!-- LIST -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- Nav Tabs -->
          <ul class="nav-tabs mobile-center" role="tablist">
            <li class="active"><a href="#adventures" role="tab" data-toggle="tab">
              Aventuras
            </a></li>
            <li><a href="#rewards" role="tab" data-toggle="tab" *ngIf="rewards && rewards?.length !== 0">
              Compras
            </a></li>
            <li><a href="#contributions" role="tab" data-toggle="tab" *ngIf="contributions && contributions?.length !== 0">
              Contribuciones
            </a></li>
            <li><a href="#delivery" role="tab" data-toggle="tab" *ngIf="adventures && adventures?.length !== 0 && delivery && delivery?.length !== 0">
              Delivery
            </a></li>
            <li><a href="#proposals" role="tab" data-toggle="tab" *ngIf="proposals && proposals?.length !== 0">
              Propuestas
            </a></li>
            <li *ngIf="false"><a href="#profile" role="tab" data-toggle="tab">
              <i class="material-icons person"></i>
              Profile
            </a></li>
          </ul><!-- .nav-tabs -->

          <!-- Tab Panes -->
          <div class="tab-content">
            <!-- ADVENTURES TAB -->
            <div role="tabpanel" class="tab-pane transition fade scale in active" id="adventures">
              <div class="col-xs-12" *ngIf="profile && profile.adventures?.length === 0">
                <p class="text-gray text-center">
                  Aun no has creado una Aventura.
                </p>
              </div>
              <div class="col-sm-12 col-xs-12" *ngIf="(profile && profile.adventures?.length === 0) || showNew">
                <a routerLink="/create/impulse" class="category-link new-link">
                  <span class="row">
                      <i class="material-icons add new-icons"></i>
                  </span>
                  <span class="row" translate>
                      Crear
                  </span>
                </a><!-- .category-link -->
              </div><!-- .col-sm-4 -->
              <div class="table-responsive" *ngIf="adventures && adventures?.length > 0">
                <table>
                  <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Titulo</th>
                      <th>Categoria</th>
                      <th>Estado</th>
                      <th>Fecha</th>
                      <th>***</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let adv of adventures">
                      <td>Aventura</td>
                      <td><strong>{{adv.title}}</strong></td>
                      <td>{{adv.category}}</td>
                      <td>
                        <span
                          *ngIf="calculateDays(adv.endDate) > 0"
                          class="text-warning"
                        >
                          Activo
                        </span>
                        <span
                          *ngIf="calculateDays(adv.endDate) === 0"
                          class="text-danger">
                          Inactivo
                        </span>
                      </td>
                      <td>{{adv.createdAt}}</td>
                      <td><a href="/adventure/{{adv.invcode}}/{{adv.slug}}" target="_blank">Abrir</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div><!-- .tab-pane#adventures -->
          <!-- /ADVENTURES TAB -->
          <!-- PROPOSALS TAB -->
          <div role="tabpanel" class="tab-pane transition fade scale in" id="proposals">
            <div class="table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Aventura</th>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Propuesta</th>
                    <th>***</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let adv of adventures">
                    <tr *ngFor="let prop of adv.proposals">
                      <td><strong>{{adv.title}}</strong></td>
                      <td>{{prop.fullName}}</td>
                      <td>
                        <a href="mailto:{{prop.email}}">
                          {{prop.email}}
                        </a>
                      </td>
                      <td>{{prop.proposal}}</td>
                      <td><a href="/adventure/{{adv.invcode}}/{{adv.slug}}" target="_blank">Abrir</a></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
        </div><!-- .tab-pane#adventures -->
        <!-- /PROPOSALS TAB -->
        <!-- CONTRIBUTIONS TAB -->
        <div role="tabpanel" class="tab-pane transition fade scale in" id="contributions">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Aventura</th>
                  <th>Usuario</th>
                  <th>E-mail</th>
                  <th>Invop</th>
                  <th>Monto</th>
                  <th>Estado</th>
                  <th>***</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let adv of adventures">
                  <tr *ngFor="let contrib of adv.contributions">
                    <td><strong>{{adv.title}}</strong></td>
                    <td>{{contrib.contributor}}</td>
                    <td>
                      <span>
                        {{contrib.email}}
                      </span>
                    </td>
                    <td>{{contrib.invop}}</td>
                    <td>{{contrib.amount}}</td>
                    <td>{{contrib.status}}</td>
                    <td><a href="/adventure/{{adv.invcode}}/{{adv.slug}}" target="_blank">Abrir</a></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
      </div><!-- .tab-pane#adventures -->
      <!-- /CONTRIBUTIONS TAB -->
      <!-- REWARDS TAB -->
      <div role="tabpanel" class="tab-pane transition fade scale in" id="rewards">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>Invop</th>
                <th>Recompensa</th>
                <th>Estado</th>
                <th>Correo</th>
                <th>Seguimiento</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>¿Lo recibiste?</th>
                <th>***</th>
                <th>***</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reward of rewards; let i = index;">
                <td>{{reward.invop}}</td>
                <td><strong>{{reward.adventure.title}}</strong></td>
                <td>
                  <span
                    class="text-danger"
                    *ngIf="reward.status === 'pending'"
                  >
                    Pendiente de envío.
                  </span>
                  <span
                    class="text-warning"
                    *ngIf="reward.status === 'sent'"
                  >
                    En camino.
                  </span>
                  <span
                    class="text-success"
                    *ngIf="reward.status === 'delivered'"
                  >
                    Entregado.
                  </span>
                </td>
                <td>{{reward.shipCompany}}</td>
                <td>{{reward.shipTrackingCode}}</td>
                <td><strong>{{ reward.amount | currency}}</strong></td>
                <td>{{checkoutDatesRewards[i]}}</td>
                <td>
                  <a 
                    (click)="setStatusShippingModal(statusShippingModal, i)"
                    [routerLink]=""
                  >
                  Notificar
                  </a>
                </td>
                <td>
                  <a
                    (click)="setContactModalData(htmlInsideModal, reward, ai, di)"
                    [routerLink]=""
                  >
                    Contacto
                  </a>
                </td>
                <td>
                  <a 
                    href="/adventure/{{reward.adventure.invcode}}/{{reward.adventure.slug}}"
                    target="_blank"
                  >
                    Abrir
                  </a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div><!-- .tab-pane#adventures -->
    <!-- /REWARDS TAB -->
              <!-- DELIVERY TAB -->
              <div role="tabpanel" class="tab-pane transition fade scale in" id="delivery">
                <div class="table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Invop</th>
                        <th>Recompensa</th>
                        <th>Estado</th>
                        <th>Correo</th>
                        <th>Seguimiento</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>***</th>
                        <th>***</th>
                        <th>***</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let adv of adventures; let ai = index;">
                        <tr *ngFor="let deliv of adv?.delivery; let di = index">
                          <td>{{deliv.invop}}</td>
                          <td><strong>{{deliv.reward.title}}</strong></td>
                          <td>
                            <span
                            class="text-danger"
                            *ngIf="deliv.status === 'pending'"
                          >
                            Pendiente de envío.
                          </span>
                          <span
                            class="text-warning"
                            *ngIf="deliv.status === 'sent'"
                          >
                            En camino.
                          </span>
                          <span
                            class="text-success"
                            *ngIf="deliv.status === 'delivered'"
                          >
                            Entregado.
                          </span>
                          </td>
                          <td>{{deliv.shipCompany}}</td>
                          <td>{{deliv.shipTrackingCode}}</td>
                          <td><strong>{{ deliv.amount | currency}}</strong></td>
                          <td>{{checkoutDatesDelivery[di]}}</td>
                          <td>
                            <a
                              (click)="setShippingContactModalData(shippingContactModal, deliv)"
                              [routerLink]=""
                            >
                              Contacto
                            </a>
                          </td>
                          <td *ngIf="deliv.status !== 'delivered'">
                            <a 
                              (click)="setShippingFormModal(shippingFormModal, ai, di)"
                              [routerLink]=""
                            >
                              Enviar
                            </a>
                          </td>
                          <td *ngIf="deliv.status === 'delivered'">
                            <p class="text-gray">
                              Listo!
                            </p>
                          </td>
                          <td>
                            <a 
                              href="/adventure/{{adv.invcode}}/{{adv.slug}}"
                              target="_blank"
                            >
                              Abrir
                            </a>
                            </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
            </div><!-- .tab-pane#adventures -->
            <!-- /DELIVERY TAB -->
            <div role="tabpanel" class="tab-pane transition fade scale" id="profile">
              <form method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="first_name">First Name</label>
                      <input type="text" id="first_name" class="form-control" value="John">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="last_name">Last Name</label>
                      <input type="text" id="last_name" class="form-control" value="Doe">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="email">Email Address</label>
                      <input type="email" id="email" class="form-control" value="johndoe@mail.com">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="phone">Phone Number</label>
                      <input type="text" id="phone" class="form-control" value="+1 809 765 350 92">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="password">Password</label>
                      <input type="password" id="password" class="form-control" value="abracadabra">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="password_confirm">Confirm Password</label>
                      <input type="password" id="password_confirm" class="form-control" value="abracadabra">
                    </div>
                  </div>
                </div>
                <div class="form-element">
                  <label for="address">Address</label>
                  <input type="text" id="address" class="form-control" value="33 Bedford Str.">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label for="country">Country</label>
                    <div class="form-element form-select">
                      <select class="form-control" id="country">
                        <option value="">Country</option>
                        <option value="australia">Australia</option>
                        <option value="gb">Great Britain</option>
                        <option value="poland">Poland</option>
                        <option value="switzerland">Switzerland</option>
                        <option value="usa" selected>USA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="state">State</label>
                    <div class="form-element form-select">
                      <select class="form-control" id="state">
                        <option value="">State</option>
                        <option value="1" selected>New York</option>
                        <option value="2">State 2</option>
                        <option value="3">State 3</option>
                        <option value="4">State 4</option>
                        <option value="5">State 5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label for="city">City</label>
                    <div class="form-element form-select">
                      <select class="form-control" id="city">
                        <option value="">City</option>
                        <option value="bern">Bern</option>
                        <option value="london">London</option>
                        <option value="ny" selected>New York</option>
                        <option value="warsaw">Warsaw</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-element">
                      <label for="zip">ZIP Code</label>
                      <input type="text" id="zip" class="form-control" value="10021">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="checkbox space-top">
                      <input type="checkbox" checked> Subscribe me to newsletter
                    </label>
                  </div>
                  <div class="col-sm-6 text-right mobile-center">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Update Profile</button>
                  </div>
                </div>
              </form>
            </div><!-- .tab-pane#profile -->
          </div><!-- .tab-content -->
        </div>
        <!-- /LIST -->
      </div><!-- .container -->
    </section><!-- .fw-section.bg-gray -->
  </div><!-- .page-wrapper -->
