<!-- Container -->
<section class="container padding-top-1x padding-bottom">
  <span class="row text-center">
    <h1 class="user-icon">
      <i class="material-icons face"></i>
    </h1>
    <h1>Olvidé mi contraseña</h1>
    <h3 class="text-sm text-gray">
      Please enter your <strong>recovery email address</strong> below and we will send you an email with instructions.
    </h3>
    <div class="card col-md-6 mt-3 mx-auto" style="float: none; margin:auto;">
      <div class="card-body">
        <form (ngSubmit)="submitRecovery()" [formGroup]="recoveryEmailForm" novalidate>
          <div class="alert alert-danger" [hidden]="isLoading" translate>
            Please enter a valid email
          </div>
          <div class="form-group">
            <label class="d-block">
              <input type="text" class="form-control" formControlName="email"
                     [placeholder]="'E-mail' | translate"/>
              <span hidden translate>Email</span>
              <small [hidden]="recoveryEmailForm.controls.email.valid || recoveryEmailForm.controls.email.untouched"
                     class="text-danger" translate>
                Email is required
              </small>
            </label>
          </div>
          <button
            class="btn btn-primary w-100"
            type="submit"
            [disabled]="recoveryEmailForm.invalid || isLoading"
            style="display: block; margin: auto;">
              <i class="fa fa-cog fa-spin logo-loading" [hidden]="!isLoading"></i>
              <span translate>Recuperar Contraseña</span>
          </button>
        </form>
      </div>
    </div>
  </span>
</section><!-- .container -->
