<!--  STEP TWO -->
<div class="col-sm-12">
    <h1 translate>
      create.challenge.title
    </h1>
    <p translate>
        create.challenge.text
    </p>
        <form
            [formGroup]="stepTwo">
        <div class="row">
          <div class="col-xs-6">
            <!--TITLE-->
            <div
            class="form-group"
            [ngClass]="title.invalid && (title.dirty || title.touched) ? 'light-red' : 'light-blue'">
              <div class="form-group">
                <label>
                  <h5>Title</h5>
                  <input
                      class="form-control"
                      name="title"
                      type="text"
                      placeholder="Title"
                      formControlName="title"
                      id="example-text-input" />
                </label>
              </div>
            </div>
            <!--NAME-->
            <div
            class="form-group"
            [ngClass]="name.invalid && (name.dirty || name.touched) ? 'light-red' : 'light-blue'">
              <div class="form-group">
                <label>
                  <h5>Company name</h5>
                  <input
                      class="form-control"
                      name="name"
                      type="text"
                      placeholder="Company name or particular name"
                      formControlName="name"
                      id="example-text-input" />
                </label>
              </div>
              <div class="form-group">
                <label>
                  <h5>Short blurb</h5>
                  <textarea
                    rows="2"
                    type="text"
                    formControlName="blurb"
                    class="form-control"></textarea>
                </label>
              </div>
            </div>
            <div
            class="form-group"
            [ngClass]="description.invalid && (description.dirty || description.touched) ? 'light-red' : 'light-blue'">
              <div class="form-group">
                <label for="editor">
                  <h5>Description</h5>
                </label>
                <app-ngx-editor id="editor" [config]="editorConfig" formControlName="description"></app-ngx-editor>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <!-- AGREEMENTS -->
            <div
                class="form-group"
                formArrayName="agreements"
                *ngFor="let agreement of agreements.controls; let i = index;"
                [ngClass]="agreement.invalid && (agreement.dirty || agreement.touched) ? 'light-red' : 'light-blue'">
                <div class="row" [formGroupName]="i">
                    <div class="col-md-12 text-center">
                        <i class="material-icons face challenge-icons"></i>
                        <h3 translate>
                            create.challenge.job {{ i + 1 }}
                        </h3>
                        <hr>
                    </div>
                    <div>
                        <div class="col-xs-12">
                            <!-- TITLE -->
                            <div class="form-group">
                                <div class="col-9">
                                    <input
                                        class="form-control"
                                        name="title"
                                        type="text"
                                        placeholder="{{'create.challenge.jobtitle.title.placeholder' |translate}}"
                                        formControlName="title" />
                                    <div
                                        *ngIf="agreement.controls.title.invalid && (agreement.controls.title.dirty || agreement.controls.title.touched)"
                                        class="alert text-danger">

                                        <div *ngIf="agreement.hasError('required', 'title')" translate>
                                            create.challenge.jobtitle.title.validation
                                        </div>
                                        <div *ngIf="agreement.hasError('minlength', 'title') && !agreement.hasError('required', 'title')" translate>
                                            create.challenge.jobtitle.title.validation.min
                                        </div>
                                        <div *ngIf="agreement.hasError('maxlength', 'title') && !agreement.hasError('required', 'title')" translate>
                                            create.challenge.jobtitle.title.validation.max
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <!-- PLEDGE AMOUNT -->
                            <div class="form-group">
                                <label for="example-search-input" class="col-3 col-form-label">
                                    <h5 translate>
                                      create.challenge.price
                                    </h5>
                                </label>
                                <div class="col-9">
                                    <input
                                        class="form-control"
                                        name="price"
                                        type="number"
                                        formControlName="price"
                                        id="example-search-input" />
                                    <div
                                        *ngIf="agreement.controls.price.invalid && (agreement.controls.price.dirty || agreement.controls.price.touched)"
                                        class="alert text-danger">

                                        <div *ngIf="agreement.controls.price.errors.required" translate>
                                            create.challenge.price.validation
                                        </div>
                                        <div *ngIf="agreement.controls.price.errors.min && !agreement.controls.price.errors.required" translate>
                                            create.challenge.price.validation.min
                                        </div>
                                        <div *ngIf="agreement.controls.price.errors.max && !agreement.controls.price.errors.required" translate>
                                            create.challenge.price.validation.max
                                        </div>
                                        <div *ngIf="agreement.controls.price.errors.pattern" translate>
                                            create.challenge.price.validation.pattern
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <!-- INVESTMENT HOURS -->
                            <div class="form-group">
                                <label for="example-url-input" class="col-3 col-form-label">
                                    <h5 translate>
                                      create.challenge.hours
                                    </h5>
                                </label>
                                <div class="col-9">
                                    <input
                                        class="form-control"
                                        name="hours"
                                        type="number"
                                        formControlName="hours"
                                        value=""
                                        id="example-url-input" />
                                    <div
                                        *ngIf="agreement.controls.hours.invalid && (agreement.controls.hours.dirty || agreement.controls.hours.touched)" class="alert text-danger">

                                        <div *ngIf="agreement.controls.hours.errors.required" translate>
                                            create.challenge.hours.validation
                                        </div>
                                        <div *ngIf="agreement.controls.hours.errors.min && !agreement.controls.hours.errors.required" translate>
                                            create.challenge.hours.validation.min
                                        </div>
                                        <div *ngIf="agreement.controls.hours.errors.max && !agreement.controls.hours.errors.required" translate>
                                            create.challenge.hours.validation.max
                                        </div>
                                        <div *ngIf="agreement.controls.hours.errors.pattern" translate>
                                            create.challenge.hours.validation.pattern
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <!-- DESCRIPTION -->
                            <div class="form-group">
                                <label for="example-email-input" class="col-3 col-form-label">
                                    <h5 translate>
                                      create.challenge.description
                                    </h5>
                                </label>
                                <div class="col-9">
                                    <textarea
                                        class="form-control"
                                        name="description"
                                        formControlName="description"
                                        rows="6"
                                        type="text"
                                        id="example-email-input">
                                    </textarea>
                                    <div
                                        *ngIf="agreement.controls.description.invalid && (agreement.controls.description.dirty || agreement.controls.description.touched)" class="alert text-danger">

                                        <div *ngIf="agreement.controls.description.errors.required" translate>
                                            create.challenge.description.validation
                                        </div>
                                        <div *ngIf="agreement.controls.description.errors.minlength && !agreement.controls.description.errors.required" translate>
                                            create.challenge.description.validation.min
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                          <div
                          class="form-group text-center">
                            <label>
                              <h5>Category</h5>
                              <select class="form-control"
                              formControlName="category">
                                <option value="1">Category 1</option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <div class="col-xs-12">
                            <hr>
                            <div class="col-xs-6">
                                <h5>
                                  create.challenge.total
                                </h5>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div
                                    *ngIf="!agreement.controls.price.invalid">
                                     <h3>{{ agreement.controls.price.value |currency:'EUR':true}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                          <hr>
                          <label for="jobsQuantity" class="text-center">
                            Quantity:
                          </label>
                          <div class="count-input challenge-quantity center-element center-block">
                            <a class="incr-btn" data-action="decrease">–</a>
                            <input
                             class="quantity"
                             id="jobsQuantity"
                             type="number"
                             formControlName="quantity">
                             <a class="incr-btn" data-action="increase">+</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ADD AGREEMENT -->
            <div class="col-xs-6">
                <p class="form-control-static pt-3">
                    <button
                        class="btn btn-primary form-control"
                        (click)="addAgreement()">
                            <i class="fa fa-plus" aria-hidden="true">
                            </i>
                    </button>
                </p>
            </div>
            <!-- REMOVE AGREEMENT -->
            <div class="col-xs-6">
              <p class="form-control-static pt-3">
                <button
                    class="btn btn-danger form-control"
                    (click)="deleteAgreement()">
                        <i class="fa fa-minus" aria-hidden="true">
                        </i>
                </button>
              </p>
            </div>
          </div>
        </div>
        </form>
    <nav
        class="navbar fixed-bottom navbar-light bg-faded"
        style="background: #fff; border-top: 1px solid #eee">
        <div style="float: right;">
            <button (click)="stepTwo.reset()" class="btn btn-link btn-lg float-right" translate>
                create.challenge.cleanstep.button
            </button>
            <button
                (click)="sendStepOne()"
                [disabled]="stepTwo.invalid"
                class="btn btn-primary btn-lg float-right">
                {{ 'Finish!'| translate }}
            </button>
        </div>
    </nav>
</div>
<!-- /STEP TWO -->
