<div
class="col-xs-12" *ngIf="isLoading"
>
<img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="Invow is loading">
</div>
<div class="col-xs-12 text-center" *ngIf="proposalSuccess">
<h1 class="success-icon">
  <i class="material-icons check_circle"></i>
</h1>
<h4 class="padding-top" translate>
  adventure.propose.message
</h4>
<p class="text-sm text-gray" translate>
  adventure.review.thanksmessage
</p>
</div>
<div class="col-xs-12 text-center" *ngIf="proposalError">
<h1 class="error-icon">
  <i class="material-icons error"></i>
</h1>
<h4 translate>
  adventure.errormessage
</h4>
<p class="text-sm text-gray" translate>
  adventure.error.waittrymessage
</p>
</div>
<div
              class="col-xs-12"
              *ngIf="proposalFormView && !isLoading"
            >
            <!-- Proposal Form -->
            <h4 class="padding-top" translate>
              adventure.proposal
            </h4>
            <p class="text-sm text-gray" translate>
              adventure.proposal.text
            </p>
            <form [formGroup]="proposalForm">
              <div class="col-sm-6">
                <div class="form-element">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Full name*"
                    required
                    formControlName="fullName"
                  >
                  <div
                    *ngIf="proposalFullName.invalid && (proposalFullName.dirty || proposalFullName.touched)"
                    class="alert text-danger"
                  >
                    <div
                      *ngIf="proposalFullName.errors.required"
                      translate
                    >
                      create.fullname.required
                    </div>
                    <div
                      *ngIf="proposalFullName.errors.minlength"
                      translate
                    >
                      create.fullname.validation.minlength
                    </div>
                    <div
                      *ngIf="proposalFullName.errors.maxlength"
                      translate
                    >
                      create.fullname.validation.minlength
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-element">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email*"
                    required
                    formControlName="email"
                  >
                  <div
                    *ngIf="proposalEmail.invalid && (proposalEmail.dirty || proposalEmail.touched)"
                    class="alert text-danger"
                  >
                    <div
                      *ngIf="proposalEmail.errors.required"
                      translate
                    >
                      adventure.email.required
                    </div>
                    <div
                      *ngIf="proposalEmail.errors.email
                      && !proposalEmail.errors.required"
                      translate
                    >
                      adventure.email.validation
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-element">
                  <textarea
                    rows="8"
                    class="form-control"
                    placeholder="Proposal*"
                    required
                    formControlName="proposal"
                  >
                  </textarea>
                  <div
                    *ngIf="proposalContent.invalid && (proposalContent.dirty || proposalContent.touched)"
                    class="alert text-danger"
                  >
                    <div *ngIf="proposalContent.errors.required" translate>
                      adventure.proposal.content.required
                    </div>
                    <div *ngIf="proposalContent.errors.minlength" translate>
                      adventure.proposal.validation.minlenght
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 col-sm-6
                    col-lg-offset-9 col-md-offset-8 col-sm-offset-6"
                  >
                    <button
                      [disabled]="proposalForm.invalid"
                      (click)="save('proposal')"
                      class="btn btn-block btn-primary waves-effect
                      waves-light space-top-none space-bottom-none" 
                      translate
                    >
                      adventure.propose.button
                    </button>
                  </div>
                </div>
              </div>
            </form><!-- .row -->
          </div>