<div class="preloader" *ngIf="isLoading">
  <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" alt="Preloadersss">
</div>
<!-- Page Wrapper -->
<div class="page-wrapper" *ngIf="!isLoading">
  <section class="container-fluid fw-section">
    <!-- MATCH CARD -->
    <div
      *ngIf="motivationalMessage"
      class="col-lg-8 col-md-12 col-sm-12 col-xs-12 card motivational-message-container"
    >
      <h1 class="motivational-message-text">
        "Little things make big days."
      </h1>
    </div>
    <ng-container
      *ngFor="let newAdv of newest; let i = index;"
    >
    <div class="row">
      <div class="col-lg-2"></div>
      <div
        class="col-lg-8 col-md-12 col-sm-12 col-xs-12 tab-pane transition fade active in bkg-white card"
        *ngIf="newAdv.ready"
        role="tabpanel"
        id="match" 
      >
        <a
          (click)="goToAdventure(newAdv.invcode, newAdv.slug)" 
          class="category-tile to-click"
        >
          <div class="inner">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div
                class="category-thumb padding-bottom-1x card-thumb"
                *ngIf="newAdv.img"
              >
                <h3 class="hidden-lg">
                  {{ newAdv.title }}
                </h3>
                <img [hidden]="!isImgLoaded" [src]="newAdv.img" alt=" {{ newAdv.title }}. Invow.com" (load)="isImgLoaded = true" />
              </div>
              <hr>
              <p class="text-sm text-gray card-p">
                {{ newAdv.blurb.split(" ").length >= 30 ? newAdv.blurb.split(" ").splice(0, 30).join(" ") + '...' : newAdv.blurb }}
              </p>
              <!-- PROGRESS BAR -->
              <div class="col-sm-12 card-progressbar">
                <div class="progress">
                  <div
                    class="progress-bar"
                    [ngClass]="newAdv.capital >= newAdv.goal ? 'progress-bar-funded': ''"
                    role="progressbar"
                    [ngStyle]="{'width': newAdv.styleExpression }"
                    aria-valuenow="newadv.percentage"
                    aria-valuemin="0"
                    aria-valuemax="100">
                  </div>
                </div>
                <div class="row hidden-xs">
                  <div class="col-sm-6 col-xs-6">
                    <p>
                      <strong class="text-gray">
                        {{ newAdv.capital | currency }} ARS
                      </strong>
                    </p>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <p class="mb-1 text-gray card-p to-right">
                      {{ newAdv.goal | currency }} ARS
                    </p>
                  </div>
                </div>
                <p
                  class="text-sm text-gray card-p hidden-xs"
                  *ngIf="newAdv.totalDays > 0"
                  translate
                >
                  Quedan
                  <strong>
                    {{ newAdv.totalDays }}
                  </strong> días.
                </p>
                <p class="text-sm text-danger" *ngIf="newAdv.totalDays === 0">
                  La campaña finalizó.
                </p>
              </div>
              <!-- /PROGRESS BAR -->
              <p
                *ngIf="newAdv.backers >= 0"
                class="text-sm text-gray card-backers-p hidden-xs"
              >
                Backers: <strong>{{ newAdv.backers }}</strong>
              </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="newAdv.rewards?.length === 0">
              <div class="inner">
                <div class="column">
                  <h3
                    class="hidden-md hidden-sm hidden-xs text-center adv-title"
                  >
                    {{ newAdv.title }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="newAdv.rewards?.length">
              <div class="row">
                <h3 class="hidden-md hidden-sm hidden-xs text-center">
                  {{ newAdv.title }}
                </h3>
              </div>
              <ng-container
                *ngFor="let reward of newAdv.rewards; let i = index;">
                <div class="col-xs-12 hidden-xs">
                  <hr>
                </div>
                <div class="column reward-item hidden-xs">
                    <div class="row">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 hidden-md hidden-sm hidden-xs">
                        <i class="material-icons card_giftcard method-icons"></i>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h4
                          class="to-left title"
                          [ngClass]="reward.quantity === 0 ? 'text-gray' : ''"
                        >
                          {{ reward.title }}
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h5 class="to-right pledge-amount text-danger" *ngIf="reward.quantity === 0">
                          AGOTADO
                        </h5>
                        <h5 class="to-right pledge-amount" *ngIf="reward.quantity !== 0">
                          {{ reward.pledgeAmount | currency}} 
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="text-sm text-gray text-left">
                          {{ reward.description.split(" ") >= 21 ? reward.description.split(" ").splice(0, 21).join(" ") + '...' : reward.description }}
                        </p>
                      </div>
                    </div>
                </div>
              </ng-container>
            </div>
          </div>
        </a>
        <div class="column">
          <div
            class="col-xs-6 card-btn card-cancel to-click"
            (click)="cancel(newAdv.id)"
          >
            <i class="material-icons cancel"></i>
          </div>
          <div
            *ngIf="!newAdv.liked"
            (click)="like(newAdv.id, newAdv.likes, i)"
            class="col-xs-6 card-btn card-like-border to-click"
          >
            <i class="material-icons adv-like favorite_border"></i>
          <div
            class="count card-like-count text-gray"
          >
            {{ newAdv.likes.length }}
          </div>
          </div>
          <div
            *ngIf="newAdv.liked"
            (click)="unlike(newAdv.id, newAdv.likes, i)"
            class="col-xs-6 card-btn card-like to-click"
          >
            <i class="adv-like material-icons favorite"></i>
            <div
              class="count card-like-count text-gray"
            >
              {{ newAdv.likes.length }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    </ng-container>
    <!-- /MATCH -->
  </section>
  <!-- Features -->
  <section class="container">
    <div class="row">
      <hr>
    </div><!-- .row -->
  </section><!-- .container -->
  <!-- Footer -->
  <footer class="footer">
    <div class="column text-center" *ngIf="subscriptionSuccess">
      <h4 class="padding-top">Muchas gracias!</h4>
      <p class="text-sm text-gray">
        Tu email fue agregado a nuestra lista de subscriptores.
      </p>
    </div>
    <div class="column" *ngIf="subscriptionLoading && !subscriptionFormView && !subscriptionSuccess">
      <img src="https://invow.blob.core.windows.net/invow-container/loader.gif" class="to-center" alt="">
    </div>
    <div class="column" *ngIf="subscriptionFormView && !subscriptionSuccess">
      <h3 class="widget-title">
        Subscripción
      </h3>
      <form [formGroup]="subscriptionForm" class="subscribe-form">
        <input 
          type="email"
          class="form-control"
          name="EMAIL"
          placeholder="Tu e-mail"
          formControlName="email"
        >
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div
          aria-hidden="true"
          class="subscribe-input-container"
        >
          <input
            type="text"
            name="b_c7103e2c981361a6639545bd5_1194bb7544"
            tabindex="-1"
            value=""
          >
        </div>
        <button 
          [disabled]="subscriptionForm.invalid"
          (click)="saveSubscription()"
          type="submit"
        >
          <i class="material-icons send"></i>
        </button>
      </form>
      <div 
        class="text-danger"
        *ngIf="subscriptionEmailValue.hasErrors && (subscriptionEmailValue.dirty || subscriptionEmailValue.touched)">
        <p
          class="text-sm"
          *ngIf="subscriptionEmailValue.errors.required || subscriptionEmailValue.errors.email"
        >
          E-mail is required. Please write a real email.
        </p>
      </div>
    </div><!-- .column -->
  </footer><!-- .footer -->
</div><!-- .page-wrapper -->
